serverconfig
advancements
stats
datapacks
DIM1
DIM-1
playerdata
poi
entities
session.lock
level.dat_old
chunkloaders
data/raids.dat
data/create_Tracks.dat
data/create_logistics.dat_old
data/create_tracks.dat_old
computercraft/computer/1/logs/*
#script-break
computercraft/computer/1/lua-ls-cc-tweaked
